#heading-bar{
    position: static;
    background-color:#28559A;
}
/* #heading-bar #imagebar{
    background-color: whitesmoke;
} */

#heading-bar #info{
    text-align: center;
    margin-top: 1rem;
}

#heading-bar #info .myname{
    font-family: Helvetica;
    font-size: 2rem;
    color: #fff;
    font-weight: bolder;
    padding-left: 1rem;
}

#heading-bar #info .mydegree{
    font-family: Helvetica;
    font-size: 1rem;
    color: #fff;
    font-weight: 100;
}

#heading-bar #blog {
    text-align: center;
    margin: 2rem 0 0 0; 
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: bolder;
    font-style: normal;
}


/* #heading-bar #blog .myblog{
    margin-left: 1.5rem;
} */

/* #heading-bar #blog .mycontact{
    margin-left: 3.5rem;
} */


a{
    color: #fff;
}

a:hover{
    color: #fff;
}
 .bi-envelope{
     font-size: 2rem;
}
 .bi-facebook{
    font-size: 2rem;
    margin-left: 1.25rem;
}

 .bi-github{
    font-size: 2rem;
    margin-left: 1.25rem;
}
.bi-twitter{
    font-size: 2rem;
    margin-left: 1.25rem;
}
 .bi-telegram{
    font-size: 2rem;
    margin-left: 1.25rem;
}

.myicons:hover{
    color: beige;
}

/* Bio  */
#biography{
    margin-top: 1rem;
    background-color: #f1f2f6;
}
#bio #bio-photo{
    position: unset;
    text-align: center;
    padding: 1rem 1rem 0rem 1rem;
}

#bio #bio-written{
    margin-top: 3rem;
    padding-left: 2rem;
    text-justify:distribute;
}

#skills{
    border-radius: 1rem;
    background-color: #aeb8fe;
    margin: 0.5rem;
}
#education{
    border: #f1f2f6;
    border-radius: 1rem;
    background-color:#28559A;
    padding-left: 2rem;
    padding-top: 2rem;
}
#education h3{
    text-align: center;
    font-family: Helvetica;
    font-weight: bolder;
    color: #fff;
}
#education h5{
    color: #fff;
}

#education p{
    font-family: Helvetica;
    font-weight: bold;
    color: #f1f2f6;
}
#education a{
    font-style: italic;
    color: #f1f2f6;

}
#skills h3{
    margin: 0.5rem;
}

#myworks{
    margin-top: 2rem;
    background-color: #28559A;
}

#myworks h2{
    font-family: Helvetica;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-top: 1.5rem;
}


.card{
    
    margin-top: 1rem;
}

.card img{
    
    height: 22rem;
    width: auto;
    margin: 0.5rem;
    overflow:hidden;
}
button{
    margin: 1rem;
}

#workreq1, #workreq2, #workreq3, #workreq4{
    display: none;
}



/* Footer */
#footer{
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #FF8600;
}

